/* Tablette */
@media (768px <= width <= 1200px) {
    #about > p {
        width: var(--width-tablette);
    }
}
/* Desktop */
@media (1200px <= width) {
    #about {
        justify-content: center;
    }
    #about > p {
        text-align: start;
    }
}
