/* Tablette */
@media (768px <= width <= 1100px) {
 .portfolio {
   grid-template-areas:
   "project project"
   "skills soft"
   "about about"
   "contact contact";
   grid-template-columns: auto;
   gap: 20px;
   }
  #skills {
       padding: 0;
  }
  #soft {
    justify-self: flex-start;
  }
  #contact {
    height: 33vh;
  }
}
@media (1100px < width) {
 .portfolio {
    grid-template-areas:
      "soft      about"
      "project   skills"
      "project   contact";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 20px 40px;
    padding: 30px;
    margin-bottom: 0;
  }
  header {
    display: none;
  }
   #soft {
    justify-self: flex-end;
  }
   #about {
    justify-self: flex-start;
  }
  #project {
    justify-self: flex-end;
  }
  #skills {
    justify-self: flex-start;
    padding: 0;
  }
  #contact {
    width: 331px;
    justify-self: flex-start;
  }
}