.portfolio {
  display: grid;
  grid-template-areas:
    "project"
    "skills"
    "soft"
    "about"
    "contact";
  grid-template-columns: 1fr;
  margin-bottom: 100px;
  margin-top: 20px;
  gap: 25px;
}
#project, #about, #skills, #soft{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#project {
    grid-area: project;
    justify-self: center;
}
#contact {
    grid-area: contact;
}
#skills { 
    grid-area: skills;
    gap: 10px;
    padding: var(--padding-phone);
}
#about { 
    grid-area: about;
}
#soft{
    grid-area: soft;
    position: relative;
    z-index:-2;
}

