.conteiner-deco-border{
    width: 100%;
    position: fixed;
    bottom: 0;
}
.deco-border{
    width: 100vw;
    height: 90px;
    background-color: var(--dark);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    rotate: 180deg;
    border-radius: 100%;
    box-shadow:  10px 5px 0 var(--white);
}
.conteiner-deco-border > nav > ul > li{
    list-style: none;
}
.conteiner-deco-border > nav > ul > li > a {
    color: aliceblue;
}