#pop-up {
     height: 100vh;
     padding: 4%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     background-color: rgba(0, 0, 0, 0.817);
     backdrop-filter: blur(14px);
    }
.pop-up{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background:  url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaHVpdnJ2bDE2bzM1MzRnaDBlb2pzandvNGRxYnAxcjVxaHl1Y3A3bCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/APq0WQXgQQrKFcBbjP/giphy.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    z-index: 10;
    color: var(--white);
}

.close-btn{
    width: 35px;
    height: 35px;
    background-image: url("../asset/img/png/cancel_35dp_B30D0F_FILL0_wght400_GRAD0_opsz40.png");
    background-size:contain;
    background-color: transparent;
    border-radius: 100%;
    align-self: flex-end;
    order: -1;
}
#pop-up > p:last-of-type{
    font-weight: 100;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

#pop-up span{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

