.pop-up {
    height: 100vh;
     padding: 10% 4%;
     display: flex;
     flex-direction: column;
     justify-content:flex-start;
     align-items: center;
     gap: 10px;
     background-color: rgba(0, 0, 0, 0.817);
     backdrop-filter: blur(0px);
     animation: animate-pop-up 10s linear 0s 1 normal forwards;
     >p{
         color: azure;
         max-width: 600px;
         width: 90%;
         text-align:justify;
     }
    }

@keyframes animate-pop-up{
  from {
    backdrop-filter: blur(0px);
}
  to {
    backdrop-filter: blur(14px);
}
}
.background-pop-up{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background:  url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaHVpdnJ2bDE2bzM1MzRnaDBlb2pzandvNGRxYnAxcjVxaHl1Y3A3bCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/APq0WQXgQQrKFcBbjP/giphy.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    z-index: 10;
    color: var(--white);
}
.close-btn{
    width: 35px;
    height: 35px;
    background-image: url("../asset/img/png/cancel_35dp_B30D0F_FILL0_wght400_GRAD0_opsz40.png");
    background-size:contain;
    background-color: transparent;
    border-radius: 100%;
    align-self: flex-end;
    order: -1;
    rotate: 0; opacity: 0;
    animation: 
        animation-btn 20s ease-in-out 10s infinite alternate both,
        animation-btn-visibility 10s ease-in-out 5s 1 normal forwards;
}
@keyframes animation-btn{
    0% {rotate: 0;}
    5% {rotate: calc(180deg * 3);}
    50% {rotate: calc(180deg * 3);}
    55% {rotate: calc(-360deg * 3);}
    100% {rotate: calc(-360deg * 3);}
}
@keyframes animation-btn-visibility {
    from {opacity: 0;}
    to {opacity: 1;}
}
@media (1100px < width) {
    .close-btn{
       position: relative;
       right: 20%;
    }
}
.pop-up > p:last-of-type{
    font-weight: 100;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.pop-up span{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.pop-up > h1 {
    color: rgb(191, 191, 191);
}
.pop-up >h1, .pop-up >p, .pop-up >span, .pop-up >address{
    opacity: 0;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    animation: animation-text 5s ease-in-out 2s 1 normal forwards;
}
@keyframes animation-text {
    from {
        text-shadow: 0px 0px 10px rgb(255, 255, 255);
        opacity: 0;
    }
    to {
        text-shadow: 0px 0px 0px rgb(255, 255, 255);
        opacity: 1;
    }
}