.slid{
    width: var(--width-mobile);
    margin: auto;
    border-radius: 10px;
    background-color: var(--dark);
    box-shadow: 0px 0 10px red;
    overflow-y: hidden;
}
.slid-list{
    display: flex;
    gap: 100px;
}
.slid-list > div{
    padding-top: var(--padding-phone);
    padding-bottom: var(--padding-phone);
}
.slid-title{
    width: var(--width-mobile);
}
.slid-title figure img{
    width: 100%;
    height: 250px;
    object-fit:contain;
    object-position: top;
}
.slid-title > a{
    text-decoration-line: none;
}
.slid-title figure > figcaption{
    padding: 7px 10px 7px 0;
    text-align: center;
    font-weight: 900;
}
.slid-description{
    width: calc(var(--width-mobile) - 30px);
    text-align:justify;
    padding: 7px;
    color: var(--white);
}