.slid{
    width: var(--width-mobile);
    margin: auto;
    border-radius: 10px;
    background-color: var(--dark);
    box-shadow: 0px 0 10px red;
    overflow-y: hidden;
}
.slid-list{
    display: flex;
    gap: 100px;
}
.slid-list div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--padding-phone);
    padding-bottom: var(--padding-phone);
}
.slid-title{
    width: var(--width-mobile);
}.slid-title figure {
    padding: 10px;
}
.slid-title figure img{
    width: 100%;
    height: 250px;
    object-fit:contain;
    object-position: top;
    background-color: white;
    box-shadow: 0px 0px 10px white;
    border-radius: 5px;
    padding: 10px;
}
.slid-title > a {
    text-decoration-line: none;
}
.slid-title figure > figcaption {
    padding: 7px 10px 7px 0;
    margin: 10px 0;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    outline: 1px red solid;
    border-radius: 5px;
    background-color: var(--red-1);
    color: var(--red);
}
.slid-description {
    width: calc(var(--width-mobile) - 30px);
    text-align:justify;
    padding: 7px;
    color: var(--white);
}
.slid-description > div:first-child{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    
    > span {
        position: absolute;
        visibility: hidden;
        z-index: -12;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content:space-between;

        >li {
            list-style: none;
            border: 1px solid;
            border-radius: .2em;
            padding: 1% 3%;
            font-size: small;
            font-weight: 300;
        }

        .go {
            border-color: var(--go-color); 
            color: var(--go-color);
            background-color: var(--go-bg-color);
            box-shadow: var(--go-sdw-color);
        }

        .html-css{
            border-color: var(--html-color) var(--css-color) var(--css-color) var(--html-color);
            box-shadow: var(--html-sdw-color), var(--css-sdw-color);
            background: linear-gradient(124deg, var(--html-bg-color), var(--css-bg-color));

            > span:first-child{
                color: var(--html-color);
            }

            > span:last-child{
                color: var(--css-color);
            }
        }

        .javaScript{
            border-color: var(--js-color);
            color: var(--js-color);
            box-shadow: var(--js-sdw-color);
            background: var(--js-bg-color);
        }

        .sqlite{
            border-color: #275ca0;
            color: var(--sqlite-color);
            box-shadow: var(--sqlite-sdw-color);
            background: var(--sqlite-bg-color);
        }
    }
}